#slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    float: left;
}

.slide img {
    width: 100%;
    height: auto;
    border: 5px solid white;
    box-sizing: border-box;
}
